body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  background: #29282D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

.main-page-wrapper {
  background: url("./img/bg/lion-header.jpg") center top no-repeat, url("./img/bg/lion-small.png") right bottom 307px no-repeat;
}

.container {
  margin: 0 auto;
  width: 1141px;
}

/* header */

.header {
  height: 120px;
  position: relative;
  margin-bottom: 130px;
}

.logo {
  display: block;
  position: absolute;
  top: 24px;
  left: 0;
}

.menu {
  position: absolute;
  top: 30px;
  left: 257px;
}

.contacts {
  position: absolute;
  top: 25px;
  right: 0;
  font-style: normal;
  text-align: right;
  line-height: 1;
}

.contscts__desc {
  color: #9A9A9A;
  font-size: 11px;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__item--active .menu__link {
  color: #DFB56D;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #D3A557;
}

.contacts__phone {
  display: block;
  text-decoration: none;
  font-size: 26px;
}

.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
  color: #D3A557;
}

/* hero */

.hero {
  margin-bottom: 186px;
}

.hero__text-section {
  width: 485px;
}

.hero__title {
  font-size: 58px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 25px;
}

.hero__subtitle {
  font-size: 18px;
  color: #D3A557;
  margin-bottom: 42px;
}

.btn {
  width: 166px;
  display: inline-block;
  background: #DFB56D;
  border-radius: 3px;
  padding: 16px 40px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.btn--color--ginger:hover {
  background: #D3A557;
  box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15);
}

.btn--color--black {
  background: #2B2B2B;
}

.btn--color--black:hover {
  background: #DFB56D;
}

/* section */

.section {
  margin-bottom: 127px;
}

.section__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 52px;
}

.offers__item {
  display: inline-block;
  min-height: 448px;
  background: #fff;
  border-radius: 4px;
  color: #000000;
  margin-right: 23px;
  width: 362px;
  overflow: hidden;
  vertical-align: top;
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__item--theme-grey .offers__header:before {
  background: #a5a5a4;
}

.offers__item--theme-blue .offers__header:before {
  background: #556180;
}

.offers__item--theme-gold .offers__header:before {
  background: #978455;
}

.offers__header {
  min-height: 162px;
  position: relative;
}

.offers__header:before {
  content: "";
  width: 284px;
  height: 284px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -160px;
  right: -109px;
  background: #ccc;
}

.offers__header-img {
  position: absolute;
  left: 50%;
  top: 43%;
  margin-left: -44px;
  margin-top: -32px;
}

.offers__content {
  padding: 14px 22px;
}

.offers__title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 18px;
}

.offers__prices-cell {
  display: inline-block;
  vertical-align: top;
}

.offers__prices-cell-left {
  width: 115px;
  margin-right: 37px;
}

.offers__prices-cell-right {
  width: 161px;
}

.offers__prices-cell:last-child {
  margin-right: 0;
}

.offers__price {
  font-size: 36px;
  margin-bottom: 4px;
}

.offers__price-desc {
  color: #666;
}

.offers__prices {
  margin-bottom: 46px;
}

.offers__btn-wrapper {
  text-align: center;
}

.offers__wrap {
  width: 340px;
  margin: 0 auto;
}

.section__news {
  margin-bottom: 143px;
}

.news {
  margin-bottom: 55px;
}

.news__item {
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  margin-right: 21px;
}

.news__item:last-child {
  margin-right: 0;
}

.news__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__text-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 29px;
  min-height: 168px;
}

.news__date {
  display: block;
  font-size: 14px;
  margin-bottom: 16px;
}

.news__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.pager {
  text-align: center;
}

.pager__display, .pager__list {
  display: inline-block;
  vertical-align: middle;
}

.pager__display {
  margin-right: 26px;
}

.pager__item {
  display: inline-block;
  vertical-align: middle;
}

.pager__item--active .pager__link{
  background: #353439;
}

.pager__link:hover {
  background: #353439;
}

.pager__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.news__desc {
  width: 443px;
}

.section__about {
  margin-bottom: 81px;
}

.about:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 490px;
  height: 502px;
  background: url("./img/decor/chess.png") center center / cover no-repeat;
}

.about__desc {
  background: #202123;
  padding: 71px 82px;
  display: inline-block;
  vertical-align: top;
  width: 785px;
  margin-left: -140px;
  margin-top: 96px;
  border-radius: 5px;
  min-height: 455px;
}

.about__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 40px;
}

.about__desc-text {
  margin-bottom: 88px;
}

.about__desc-text p {
  margin-bottom: 20px;
}

.about__desc-text p:last-child {
  margin-bottom: 0;
}

.footer-container__content {
  border-top: 1px solid #353538;
}

.footer {
  height: 152px;
  position: relative;
}

.socials {
  position: absolute;
  top: 22px;
  right: 264px;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__item--telegram .socials__link {
  background-image: url("./img/icons/telegram.png");
}

.socials__item--telegram .socials__link:hover {
  background-image: url("./img/icons/telegram.png");
  filter: brightness(3.5);
}

.socials__item--vk .socials__link {
  background-image: url("./img/icons/vk.png");
}

.socials__item--vk .socials__link:hover {
  background-image: url("./img/icons/vk.png");
  filter: brightness(3.5);
}

.socials__item--fb .socials__link {
  background-image: url("./img/icons/f.png");
}

.socials__item--fb .socials__link:hover {
  background-image: url("./img/icons/f.png");
  filter: brightness(3.5);
}

.socials__item--insta .socials__link {
  background-image: url("./img/icons/in.png");
}

.socials__item--insta .socials__link:hover {
  background-image: url("./img/icons/in.png");
  filter: brightness(3.5);
}

.contacts__footer {
  top: 19px;
}

.contacts__footer .contscts__desc{
  margin-bottom: 5px;
}