html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  background: #29282D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.wrapper {
  overflow: hidden;
  min-width: 1100px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  flex: 1;
}

.container {
  width: 1141px;
  margin: 0 auto;
}

a {
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.section {
  margin-bottom: 131px;
}

.section__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 56px;
}

.main-page-wrapper {
  background: url("../../img/bg/lion-header.jpg") center top no-repeat, url("../../img/bg/lion-small.png") right bottom 307px no-repeat;
  overflow: hidden;
}