.footer-container__content {
  border-top: 1px solid #353538;
}

.footer {
  height: 152px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
 justify-content: flex-end;
}

.socials {
  margin-right: 75px;
  display: flex;
}

.socials__link {
  display: inline-flex;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__item {
  display: inline-flex;
  margin-right: 9px;
}

.socials__item:last-child {
  margin-right: 0;
}

/* .socials__item--telegram .socials__link {
  background-image: url("../../img/icons/telegram.png");
}

.socials__item--telegram .socials__link:hover {
  background-image: url("../../img/icons/telegram.png");
  filter: brightness(3.5);
  transition: 1s;
}

.socials__item--vk .socials__link {
  background-image: url("../../img/icons/vk.png");
}

.socials__item--vk .socials__link:hover {
  background-image: url("../../img/icons/vk.png");
  filter: brightness(3.5);
  transition: 1s;
}

.socials__item--fb .socials__link {
  background-image: url("../../img/icons/f.png");
}

.socials__item--fb .socials__link:hover {
  background-image: url("../../img/icons/f.png");
  filter: brightness(3.5);
  transition: 1s;
}

.socials__item--insta .socials__link {
  background-image: url("../../img/icons/in.png");
}

.socials__item--insta .socials__link:hover {
  background-image: url("../../img/icons/in.png");
  filter: brightness(3.5);
  transition: 1s;
} */

.socials__item--telegram .socials__link {
  background: url('../../img/icons/sprite.png') -234px -10px;
}

.socials__item--telegram .socials__link:hover {
  background: url('../../img/icons/sprite.png') -290px -10px;
}

.socials__item--vk .socials__link {
    background: url('../../img/icons/sprite.png') -346px -10px;
}

.socials__item--vk .socials__link:hover {
    background: url('../../img/icons/sprite.png') -402px -10px;
}

.socials__item--fb .socials__link {
  background: url('../../img/icons/sprite.png') -10px -10px;
}

.socials__item--fb .socials__link:hover {
  background: url('../../img/icons/sprite.png') -66px -10px;
}

.socials__item--insta .socials__link {
  background: url('../../img/icons/sprite.png') -122px -10px;
}

.socials__item--insta .socials__link:hover {
  background: url('../../img/icons/sprite.png') -178px -10px;
}

.contacts__footer {
  top: 19px;
  position: static;
}

.contacts__footer .contscts__desc{
  margin-bottom: 5px;
}

/* Services */
.footer-container__section {
  height: 140px;
}

.inner-footer__container {
  padding: 45px 0;
}

.inner-footer {
  margin-top: auto;
}