.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 579px;
}

.header {
  padding-top: 22px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
}

.logo {
  display: block;
  margin-right: 91px;
}

.contacts {
  position: relative;
  font-style: normal;
  text-align: right;
  line-height: 1;
}

.contscts__desc {
  color: #9A9A9A;
  font-size: 11px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  display: inline-flex;
  margin-right: 55px;
}

.menu__item--active .menu__link {
  color: #DFB56D;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #D3A557;
}

.contacts__phone {
  display: block;
  text-decoration: none;
  font-size: 26px;
}

.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
  color: #D3A557;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
}

.contacts_schedule {
  position: relative;
  background: #EDEDED;
  padding: 12px 21px;
  opacity: 0.8;
  border-radius: 5px;
  position: absolute;
  right: 0;
  bottom: -68px;
  line-height: 1.8;
  text-align: left;
  opacity: 0;
  right: -9999px;
}

.contacts_schedule::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 20px solid #EDEDED;
  top: -8px;
  right: 28px;
}


.contacts_schedule-time, .contacts_schedule-breaks {
  display: block;
  color: #1E1F20;
  font-size: 13px;
}

.contacts_schedule-time {
  font-weight: bold;
}

.contacts__dropdown-title:hover ~ .contacts_schedule {
  opacity: 1;
  right: 0;
  transition: ease;
}