
.offers {
  display: flex;
  justify-content: space-between;
}

.offers__item {
  min-height: 448px;
  background: #fff;
  border-radius: 4px;
  color: #000000;
  width: calc(100% / 3 - 18px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__item--theme-grey .offers__header:before {
  background: #A8A8A8;
}

.offers__item--theme-blue .offers__header:before {
  background: #596480;
}

.offers__item--theme-gold .offers__header:before {
  background: #958667;
}

.offers__header {
  min-height: 144px;
  position: relative;
}

.offers__header:before {
  content: "";
  width: 284px;
  height: 284px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -163px;
  right: -102px;
  background: #ccc;
}

.offers__header-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.offers__content {
  padding: 35px 22px 24px 22px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.offers__title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 25px;
}

.offers__prices {
  margin-bottom: 52px;
  display: flex;
  justify-content: space-between;
}

.offers__prices-cell {
  margin-right: 25px;
}

.offers__prices-cell-left {
  width: 115px;
  margin-right: 37px;
}

.offers__prices-cell-right {
  width: 161px;
}

.offers__prices-cell:last-child {
  margin-right: 0;
}

.offers__price {
  font-size: 36px;
  margin-bottom: 11px;
}

.offers__price-desc {
  color: #666;
}


.offers__btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.offers__wrap {
  width: 340px;
  margin: 0 auto;
}